body {
  background: linear-gradient(whitesmoke, pink, orange, red);
  height: 100vh;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0);
}
.header {
  margin: 10em 0 5em 0;
  background-image: url('../img/nuclear.jpeg');
  background-repeat: no-repeat;
  text-align: center;
  padding: 3em;
  max-height: 10em;
  color: white;
}
.navbar {
  background-color:aliceblue;
	width: 100%;
	position: absolute;
  top:0;
  left:0;
	z-index: 1;
  /* padding:10px 40px; */
}
.navbar ul {
	height: 50px;
	float: right;
}
.navbar ul li {
	display: inline-block;
	padding-top: 40px;
  padding-right:5em;
	font-size: 20px;
}
nav ul li a{
  text-decoration:none;
  color:rgb(255, 0, 0);
  font-weight:bold;
}
nav ul li a:hover{
  text-decoration:none;
  color:rgb(195, 0, 255);
}
.logo{
  width:auto;
  max-height:100px;
}
h2, h3, h4, h5, h6{
  text-align: center;
  margin: 2em;
}
a {
  color:rgb(255, 0, 0);
  font-weight: bold;
}
a:hover{
  text-decoration:none;
  color:rgb(195, 0, 255);
}
.margin {
  margin: 3em;
  padding: 2em;
}
.center {
  text-align: center;
}

