body {
  background-color: rgb(34, 29, 29);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}
.header {
  background-image: url("../img/pumps.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10em 0 5em 0;
  text-align: center;
  padding: 3em;
  max-height: 10em;
}
.navbar {
  background-color:aliceblue;
	width: 100%;
	position: absolute;
  top:0;
  left:0;
	z-index: 1;
}
.navbar ul {
	height: 50px;
	float: right;
}
.navbar ul li {
	display: inline-block;
	padding-top: 40px;
  padding-right:5em;
	font-size: 20px;
  color: black;
}
nav ul li a{
  text-decoration:none;
  color:rgb(255, 0, 0);
  font-weight:bold;
}
nav ul li a:hover{
  text-decoration:none;
  color:rgb(195, 0, 255);
}
.logo{
  width:auto;
  max-height:100px;
}
h2, h3, h4, h5, h6{
  text-align: center;
  margin: 2em;
}
a {
  color:rgb(255, 0, 0);
  font-weight: bold;
}
a:hover{
  text-decoration:none;
  color:rgb(195, 0, 255);
}
.margin {
  margin: 3em;
  padding: 2em;
}
.center {
  text-align: center;
}
.machine {
  border: dotted rgb(131, 119, 119) 1px;
  width: fit-content;
  margin: auto;
}

