@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add new machines to the registry</h2>

<div class="margin">
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    <input type="submit" value="Add new machine"/>
  }
</div>
