@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add new engineers to the registry</h2>

<div class="margin">
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.DateEmployed)
    @Html.TextBoxFor(model => model.DateEmployed, new { type="date" })

    <input type="submit" value="Add new engineer"/>
  }
</div>
