@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Engineer>;

<h2>Engineer registry</h2>

<div class="margin center row">
  @if (@Model.Count == 0)
  {
    <h3>No engineers have been added to the registry</h3>
  }
  @foreach (Engineer engineer in Model)
  {
    <div class="col">
      <h4>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })</h4>
      <h6>Description: @engineer.DateEmployed</h6>
    </div>
  }
  
</div>
<div class="center">
  <p>@Html.ActionLink("Add new engineer", "create")</p>
</div>



