@{
  Layout = "_Layout";
}

<h3>Click on the menu items below to manage your machine load.</h3>
<div class="center">
  <p>@Html.ActionLink("View Machines", "Index", "Machines")</p>
  <p>@Html.ActionLink("View Engineers", "Index", "Engineers")</p>
</div>

