@{
  Layout = "_Layout";
}

<h1>Welcome to Dr. Sillystringz's Factory</h1>
<h3>Click on the menu items below to manage your course load.</h3>
<p>@Html.ActionLink("View Machines", "Index", "Machines")</p>
<p>@Html.ActionLink("View Engineers", "Index", "Engineers")</p>
